<!DOCTYPE html>
<html>

<head>
    <title>Edit Project</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h1>Edit Project</h1>

<form method="POST">

<label>Project Title</label><br>
<input type="text"
       name="title"
       value="{{ project['title'] }}"
       required>

<br><br>

<label>Description</label><br>

<textarea
name="description"
rows="5"
style="width:95%;padding:10px;">{{ project["description"] }}</textarea>

<br><br>

<label>Status</label><br>

<select name="status">

<option value="Ongoing"
{% if project["status"]=="Ongoing" %}selected{% endif %}>
Ongoing
</option>

<option value="Completed"
{% if project["status"]=="Completed" %}selected{% endif %}>
Completed
</option>

<option value="Delayed"
{% if project["status"]=="Delayed" %}selected{% endif %}>
Delayed
</option>

</select>

<br><br>

<button type="submit">
Save Changes
</button>

</form>

<br>

<a href="/project/{{ project['id'] }}">
<button>Cancel</button>
</a>

</div>

</body>

</html>