<!DOCTYPE html>
<html>

<head>
    <title>All Projects</title>
</head>

<body>

    <h1>{{ title }}</h1>

    <form action="/search_projects" method="GET">

        <input type="text" name="keyword" placeholder="Search Project">

        <select name="status">

            <option value="">All Status</option>

            <option value="Ongoing">Ongoing</option>

            <option value="Completed">Completed</option>

            <option value="Delayed">Delayed</option>

        </select>

        <button type="submit">Search</button>

    </form>

    <br>

    <table border="1" cellpadding="10">

        <tr>

            <th>ID</th>
            <th>Title</th>
            <th>Department</th>
            <th>Location</th>
            <th>Budget</th>
            <th>Status</th>

        </tr>

        {% for project in projects %}

        <tr>

            <td>{{ project.id }}</td>

            <td>
                <a href="/project/{{ project.id }}">
                    {{ project.title }}
                </a>
            </td>

            <td>{{ project.department }}</td>

            <td>{{ project.location }}</td>

            <td>{{ project.budget }}</td>

            <td>{{ project.status }}</td>

        </tr>

        {% endfor %}

    </table>

</body>

</html>