<!DOCTYPE html>
<html>

<head>

<title>Signup</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h2>Create Account</h2>

<form method="POST">

<input type="text" name="name" placeholder="Full Name" required>

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<select name="role">

<option value="Citizen">Citizen</option>

<option value="Officer">Officer</option>

<option value="Admin">Admin</option>

</select>

<br><br>

<button type="submit">Create Account</button>

</form>

<br>

<a href="/">Already have an account?</a>

</div>

</body>

</html>